/* CSS Document */

#leftcontainerBox {
float:left;
z-index: 1;
}

#leftcontainerBox .buttons {
float:left;
clear:both;
margin:4px 4px 4px 4px;
width:55px;
height:60px;
padding-bottom:2px;
}

#bottomcontainerBox {
float:left;
height:30px;
width:100%;
}

#bottomcontainerBox .buttons {
float:left;
height:30px;
margin:4px 4px 4px 4px;
}